.offcanvas {
    background-color: #443e3e44;
    height: calc(100vh - 10.5rem);
    align-items: center;
    margin-top: 10.5rem
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.offcanvas-header {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    width: 61%;
    align-self: end;
}